* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    /* position: fixed;
    top: 0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    width: 100%;
    height: 64px;
    font-size: 1.3rem;
    /* border: 1px solid red; */
}

nav img {
    /* border: 1px solid   gray; */
    align-items: center;
}
nav .head-left a {
    text-decoration: none;
    /* border: 1px solid yellow; */
}

.text-academy {
    display: flex;
    gap: 0;
}

.head-left {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid orange; */
}

.h-l{
    color: #212121;
}
.h-l2{
    color: #8D8D8D;
}

.head-right {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
}

.h-r{
    color: #D6D6D6;
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
}
/* header */

/* hero */
.hero{
    background-color: #D2D2D2;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
    height: auto;
    /* border: 1px solid   red; */
}

.img-container-hero{
    display: flex;
    /* width: 60%; */
    height: auto;
    margin: 32px 24px   ;
    overflow: hidden;
    /* border: 1px solid red; */
}

.img-container-hero img{
    width: 100%;
    height: auto;
    /* border: 1px solid green; */
}

.detail-hero{
    margin: 32px 0  32px;
}

.hero-right{
    /* border: 1px solid   orange; */
    /* width: 40%; */
    margin-right: 150px;
    text-align: start;
}

.topic-hero{
    font-size: 2rem;
    font-weight: bold;
}

.detail-hero{
    font-size: 1.3rem;
}

button{
    color: white;
    background-color: #474747;
    width: 100%;
    padding: 8px 0;
}
/* hero */

/* information */
.information{
    background-color: #D1D2D0;
    display: flex;
    width: 100%;
    height: auto;
    border: 2px solid   grey;
}
.information-left{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 32px 24px;
    overflow: hidden;
    /* border: 1px solid red; */
}

.img-container-information{
    margin: 32px 24px;
    width: 100%;
}
.img-container-information img{
    width: 100%;
    height: auto;
}

.topic-information{
    font-size: 2rem;
    /* margin-top: 32px; */
    margin-bottom: 24px;
}

.name-information{
    margin-bottom: 32px;
    margin-top: 32px;
}

.information-right{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 32px;
    border-left: 2px    solid gray;
}

.box-1-orentation{
    display: flex;
    justify-content: start;
    /* margin-left: 16px; */
    padding-left: 16px;
    padding-bottom: 16px;
    align-items: center;
    border-top: 2px solid grey;
    border-right: 2px solid grey;
    border-bottom: 2px solid grey;
}

.img-container-small{
    width: 35%;
    height: auto;
    padding-top: 16px;
    padding-bottom: 16px;
    /* border: 1px solid   gold; */
    overflow: hidden;
}

.img-container-small img{
    width: 100%;
    height: auto;
}

.detail{
    margin-left: 16px;
}

.topic-orentation{
    font-size: 2rem;
}

.information-orentation{
    margin: 8px 0;
}

.read-mor-oreantation a{
    color: skyblue;
    text-decoration: none;
}

.read-mor-oreantation :hover{
    /* border-bottom: 1.5px    solid   green; */
}
.box-2-orentation{
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
    /* border-top: 2px solid grey; */
    border-right: 2px solid grey;
    border-bottom: 2px solid grey;
}

.box-3-orentation{
    display: flex;
    align-items: center;
    border-bottom: 2px solid   grey;
    border-right: 2px solid   grey;
    padding-left: 16px;
}

.course{
    background-color: #A7C6D0;
    /* display: flex; */
    /* border: 1px solid   red; */
    width: 100%;
    height: auto;
}

.start-learning{
    font-size: 2rem;
    font-weight: bold;
    padding: 32px;
    text-align: center;
    /* border: 1px solid   green; */
}

.container-course{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
    margin: 0 72px;
    /* border: 1px solid   orange; */
}

.container-course-detail{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* flex-wrap: wrap; */
    width: 30%;
    /* border: 1px solid   saddlebrown; */
}

.img-container-course img{
    width: 100%;
    height: auto;
}
.name-course{
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 16px;
}

.type-course{
    font-size: 1.3rem;
    font-weight: lighter;
    margin: 8px 0;
}

.detail-course{
    margin-bottom: 24px;
}
.name-course , .type-course , .detail-course{
    padding-left: 16px;
}


/* thesis */


.thesis{
    width: 100%;
    height: auto;
    border: 1px solid   red;
}

.container-thesis{
    display: flex;
}

.text-thesis{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 32px;
}

.container-left{
    border: 1px solid   green;
    overflow: hidden;
    width: 60%;
    height: auto;
}

.container-video video{
    width: 100%;
    height: auto;
    margin: 24px;
}

.name-video {
    font-size: 1.7rem;
    margin-left: 24px;
    margin-top: 24px;
    margin-bottom: 8px;
}

.detail-video {
    margin-left: 24px;
    margin-bottom: 32px;
}

.container-right{
    border: 1px solid green;
    width: 40%;
    height: auto;
    margin-left: 24px;
    margin-top: 32px;
}

.container-thesis1{
    display: flex;
    align-items: center;
    border: 1px solid   orange;
}
